.uploadForm-container {
  display: flex;
}

.uploadForm {
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

input#key {
  width: 260px;
}

.form-row {
  padding-bottom: 2%;
}

#file-select {
  width: 20%;
}

#upload-btn {
  width: 50%;
}

#getFilePathBtn div {
  width: 100%;
}

.modal > input:checked ~ .overlay ~ * {
  width: 600px;
  overflow: hidden;
}

.dropzone {
  border: dashed 2px #4a3b22;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.underline {
  text-decoration: underline;
  white-space: nowrap;
}

input {
  margin-top: 10px;
  background-color: #fafcfe;
  width: 260px;
}
@media only screen and (max-width: 900px) {
  input {
    width: 90%;
  }
}
.tosBox {
  width: 300px;
  font-size: 0.7em;
  text-align: center;
  margin-top: 15px;
}

.error {
  font-size: 0.8em;
  margin-top: 15px;
  color: red;
}

.button {
  margin-bottom: 20px;
}

.copy-box {
  text-align: center;
  margin-bottom: 10px;
  margin: 25px;
}

.copy-text {
  text-align: center;
}

.modal-brief {
  margin: 25px;
  margin-bottom: 5px;
}

.modal-article {
  background-color: #fafcfe !important;
  color: #4a3b22 !important;
}

h1 {
  padding: 0;
}
