.uploadForm-container {
  display: flex;
}

.uploadForm {
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

input#key {
  width: 40%;
}

.form-row {
  padding-bottom: 2%;
}

.num-input {
  /* width: 20%; */
}

#file-select {
  width: 20%;
}

#upload-btn {
  width: 20%;
}

#getFilePathBtn div {
  width: 100%;
}

.modal > input:checked ~ .overlay ~ * {
  width: 80%;
}

.dropzone {
  border: dashed 2px #4a3b22;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.key {
  width: 260px;
}

.expiration {
  width: 260px;
}

.downloads {
  width: 260px;
}

.underline {
  text-decoration: underline;
  white-space: nowrap;
}

input {
  margin-top: 10px;
  background-color: #fafcfe;
}
