.uploadForm-container {
  display: flex;
}

.uploadForm {
  flex-direction: row;
  width: 100%;
}

input#key {
  width: 40%;
}

.form-row {
  padding-bottom: 2%;
}

.num-input {
  width: 15%;
}

#file-select {
  width: 20%;
}

#upload-btn {
  width: 20%;
}
