/* GLOBAL STYLE ATTRIBUTES */
body {
  background-color: #98c9e6;
}

link {
  text-decoration: "none";
}

.app-container {
  padding: 0% 10% 0% 10%;
}

/* GLOBAL FLEX ATTRIBUTES */
.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.row {
  display: flex;
}

/* COLORS */
.brand-dark {
  color: #4a3b22;
}

.brand-white {
  color: #fafcfe;
}
